@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter",sans-serif;
    
}

header{
    background-color:black;
    display: flex;
    
}
.logo{
    color: white;
}
.menu-button {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px; 
}

.nav-list {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: black;
    width: 100%;
    padding: 15px;
    text-align: center;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color:  rgb(91, 91, 144);

}
.nav-list.open {
    display: flex;
}

.nav-list li {
    margin: 10px 0;
}


