@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter",sans-serif;
}
header{
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

main { 
    max-width: 1800px;
    margin: 2rem ;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
  }
.logo{
    display: flex;
    align-items: center;
    color: #fff;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding:1.5rem 4rem;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    margin: 0 15px;
}

a:hover{
    color: rgb(91, 91, 144);

}
.templeName:hover{
    color: rgb(91, 91, 144);
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.mobile-menu-icon{
    display: none;
}

footer{
    background-color: rgb(91, 91, 144);
    padding: 40px;
    color: white;
}
footer p{
    margin-bottom: 10px;
    text-align: center;
}
