@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter",sans-serif;
    
}
header{
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar{
    padding: 1.5rem 4rem;
    display: flex;
    justify-content: space-between;
}
.nav-item{
    display: none;
}
.mobile-menu-icon button{
background-color: transparent;
border: none;
cursor: pointer;
}

.nav-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}


.open{
    display: block;
}

footer{
    background-color: rgb(26, 26, 75);
    padding: 40px;
    color: white;
}
footer p{
    margin-bottom: 10px;
    text-align: center;
}


main { 

    margin: 2rem ;
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
  }



