@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter",sans-serif;
}
header{
    background-color:black;
    display: flex;
    padding: 1rem;
    
    
}

.logo{
    color: white;
    padding-right: 5rem;
}

li{
    padding-right: 10rem;
}
.navbar {
    display: flex;
    align-content: space-around;
    padding: 15px;
    background: black;
    position: relative;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    display: none; 
}

.menu-icon {
    width: 36px;
    height: 36px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nav-list  {
    display: flex;
    justify-content: space-between;  
    
}

.nav-list a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(91, 91, 144);

}
.templeName:hover{
    color: rgb(91, 91, 144);
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.mobile-menu-icon{
    display: none;
}

footer{
    background-color:black;
    padding: 40px;
    color: white;
}
footer p{
    margin-bottom: 10px;
    text-align: center;
}



main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

figure {
    text-align: center;
}

img {
    width: 100%; 
    max-width: 300px; 
}